body {
    background: #ffffff;
    color: #000000;
    font-family: "Open Sans",sans-serif !important;
    font-size: 13px;
    line-height: 20px;
}

header {
    background: url('../images/header-bg.gif') #ffffff repeat-x;
    border-bottom: 3px solid #005984;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

header .header {
    float: left;
}

header .site-info {
    width: 170px;
}

header .slogan {
    color: green;
    font-size: 13px;
    margin-top: 16px;
    text-align: center;
}

header .site-name {
    color: #005984;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

header .tracker {
    text-align: center;
    text-transform: uppercase;
    float: left;
    padding: 18px 20px 13px 0;
    font-size: 15px;
}

header .tracker a {
    border-bottom: 1px dashed;
}

#main-footer {
    background: none repeat scroll 0 0 #fff;
    border-top: 1px dashed #005984;
    clear: both;
    margin-top: 20px;
    min-height: 100px;
    padding: 20px 0 30px;
    font-size: 13px;
}

.row-top {
    height: 60px;
}
.row-botoom {
    clear: right;
    margin-top: 6px;
}

.secondary-menu {
    float: left;
}

.primary-menu {

}

.settings {
    float: right;
    font-size: 13px;
    margin-right: 0;
    margin-top: 18px;
}

.settings .current-city {
    float: left;
    margin-left: 20px;
    margin-right: 30px;
}

.settings .current-language {
    float: left;
}

.settings a {
    border-bottom: 1px dashed #000;
    font-size: 13px;
    font-weight: bold;
    padding-bottom: 3px;
}

.settings a:after {
    content: "\f107";
    font-family: 'FontAwesome', serif;
    float: right;
    padding-left: 5px;
}

.nav {
    list-style: outside none none;
    margin-bottom: 0;
}

.nav-tabs > li {
    float: left;
}

.nav > li > a {
    display: block;
}

.nav-tabs {
    background-color: #fafafa;
    border-right: 1px solid #e5e5e5;
    border-top: 3px solid #e5e5e5;
    font-size: 16px;
}

.nav-tabs li a {
    background-color: #fafafa;
    border-color: #e5e5e5 !important;
    border-image: none !important;
    border-radius: 0 !important;
    border-style: solid none !important;
    border-width: 3px 0 1px !important;
    margin-top: -3px !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    transition: padding 0.2s ease 0s, border-top 0.2s ease 0s !important;
}

.nav-tabs li a:hover, .nav-tabs li.active a, .nav-tabs li.active a:hover, .nav-tabs li.active a:focus {
    color: green !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
}

.nav-tabs li.active a {
    background-color: #f9f9f9 !important;
    border-top: 3px solid green !important;
    border-bottom: 1px solid #f9f9f9 !important;
    border-left: 1px solid #e5e5e5 !important;
    border-right: 1px solid #e5e5e5 !important;
}

.nav-tabs li a:hover {
    border-top: 3px solid #005984 !important;
    color: #005984;
}

.nav-tabs li:first-child a {
    margin-left: 0;
}

ul#menu {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul#menu li {
    float: left;
}

ul#menu li a {
    border-right: 1px solid #f7f9f9;
    color: #005984;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 21px 15px 10px 20px;
    font-size: 15px;
}

ul#menu li a:after {
    content: "\f107";
    font-family: 'FontAwesome', serif;
    float: right;
    padding-left: 10px;
}

#menu li.active {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f5f7f8 0%, #fff 100%) repeat scroll 0 0;
}

ul#user-menu {
    padding: 0;
}

ul#user-menu li {
    float: left;
    list-style-type: none;
    margin: 1em 0 0;
    padding: 0;
}

ul#user-menu li a {
    border-bottom: 1px solid #e4ebeb;
    border-left: 1px solid #e4ebeb;
    color: #597b7c;
    display: block;
    font-size: 13px;
    padding: 3px 13px;
    text-decoration: none;
}

ul#user-menu li.first a {
    border-left: none;
}

.slicknav_menu {
    background: none !important;
    padding: 0 !important;
}

ul.slicknav_nav {
   /* border-top: 3px solid #005984;*/
}

ul.slicknav_nav li {
    border-bottom: 2px dashed #eaefef;
}

ul.slicknav_nav li{
    background-color: #ffffff;
    font-size: 16px;
    padding: 10px 0 10px 0 !important;
    margin: 0 !important;
}

ul.slicknav_nav li a:after {
    content: "\f107";
    font-family: 'FontAwesome', serif;
    float: right;
    padding-right: 10px;
}

.slicknav_nav a:hover {
    background: #ffffff !important;
    border-radius: 0 !important;
}

main .content {
    text-align: center;
    padding: 10px;
}

/* Messages */

#system-message {
    margin-top: 15px;
}

.alert {
    border: 1px solid transparent;
    border-radius: 0 !important;
    padding: 10px 10px 10px 40px !important;
}

.alert-info {
    background-image: url("../images/icons/message-24-info.png") !important;
    background-position: 8px 8px;
    background-repeat: no-repeat !important;
    background-color: #f8fff0 !important;
    border-color: steelblue !important;
}

/* Links */

a {
    color: #005984 !important;
    text-decoration: none;
}
a:link {
    color: #005984;
    text-decoration: none;
}

a:focus, a:hover {
    color: green !important;
    text-decoration: none !important;
}

/* blocks */

.sidebar {
}

.block {
    margin-bottom: 25px;
}

.block ul {
    padding: 0;
}

.block-wraper {
    background-color: #f9f9f9;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    padding: 15px;
}

.block-wraper-with-nav {
    background-color: #f9f9f9;
    border-top: none;
    border-bottom: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
    overflow: hidden;
    padding: 15px;
}



/* Media queries */

@media only screen and (min-width:769px) and (max-width:991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .navigation-mobile .collapse, .navbar-toggle {
        display: block !important;
    }
}

@media only screen and (min-device-width : 1px) and (max-device-width : 319px) {
    header .tracker {
        display: none;
    }

    header .site-info {
        text-align: center;
        float: none;
        width: auto;
    }
}

.slicknav_menu {
    display:none;
}

.slicknav_btn {
    background-color: #ffffff !important;
    border-radius: 0 !important;
    border: 1px solid #005984 !important;
    color: #005984;
    margin: 10px 0 14px 0 !important;
}

.slicknav_icon-bar {
    background-color: #005984 !important;
}