body {
    background: #ffffff;
    color: #000000;
    font-family: Arial !important;
    font-size: 13px;
    line-height: 20px;
}

header {
    background: url('../images/header-bg.gif') #ffffff repeat-x;
   /* border-bottom: 3px solid #005984;*/
    width: 100%;
}

header .site-info {
    width: 170px;
    float: left;
}

header .slogan {
    color: green;
    font-size: 13px;
    margin-top: 10px;
    text-align: center;
}

header .site-name {
    color: #005984;
    font-size: 22px;
    font-weight: bold;
    margin-top: 5px;
    text-align: center;
    text-transform: uppercase;
}

header .tracker {
    text-align: center;
    text-transform: uppercase;
    float: left;
    padding: 15px 15px 20px 0;
    font-size: 15px;
}

header .tracker a {
    border-bottom: 1px dashed;
}

nav {
    min-height: 50px;
}

ul#menu {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

ul#menu li {
    float: left;
}

ul#menu li a {
    border-right: 1px solid #f7f9f9;
    color: #005984;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px 20px 15px 20px;
    font-size: 15px;
}

#menu li.active {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f5f7f8 0%, #fff 100%) repeat scroll 0 0;
}

#menu-responsive {
    clear: both;
}

.slicknav_menu {
    background: none !important;
}

nav .site-info-mobile {
    height: 42px;
    left: 20px;
    position: absolute;
}

.navigation {
}

nav .slogan-mobile {
    color: green !important;;
    font-size: 13px;
    text-align: center;
    margin-left: 45px;
    display: block;
}

nav .site-name-mobile {
    color: #005984;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-left: 45px;
    display: block;
}

#toggle-menu {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #005984;
    float: right;
    font-size: 24px;
    margin-top: 0;
    padding: 0 10px;
    color: #005984;
}

#menu-toggle {
    background-color: #005984;
    border: medium none;
    border-radius: 0;
    color: #fff;
    height: 51px;
    left: 0;
    margin: -1px 0 0;
    min-width: 45px;
    position: absolute;
    top: 0;
    font-size: 16px;
}

#user-toggle {
    background-color: #005984;
    border: medium none;
    border-radius: 0;
    color: #fff;
    height: 51px;
    right: 0 !important;
    margin: -1px 0 0;
    min-width: 45px;
    position: absolute;
    top: 0;
    font-size: 16px;
}

.slicknav_menu {
    padding: 0 !important;
}

ul.slicknav_nav {
   /* border-top: 3px solid #005984;*/
}

ul.slicknav_nav li {
    border-bottom: 2px dashed #eaefef;
}

ul.slicknav_nav li.last {
  /*  border-bottom: none;*/
}

ul.slicknav_nav li.last a {
    padding: 10px 0 10px 0px !important;
}

ul.slicknav_nav li a{
    background-color: #ffffff;
    font-size: 16px;
    padding: 10px 0 10px 0 !important;
    margin: 0 !important;
}

ul.slicknav_nav li a:after {
    content: "\f107";
    font-family: FontAwesome;
    float: right;
    padding-right: 10px;
}

.slicknav_nav a:hover {
    background: #ffffff !important;
    border-radius: 0 !important;
}

main .sidebar {
    text-align: right;
}

main .content {
    text-align: left;
}

/* Links */

a {
    color: #005984 !important;
    text-decoration: none;
}
a:link {
    color: #005984;
    text-decoration: none;
}

a:hover {
    color: green !important;
    text-decoration: none !important;
}

/* Media queries */

@media only screen and (min-width:769px) and (max-width:991px) {
    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .navigation-mobile .collapse, .navbar-toggle {
        display: block !important;
    }
}

@media only screen and (min-device-width : 1px) and (max-device-width : 319px) {
    .tracker {
        display: none;
    }
    .toggle-menu {
        text-align: center;
        float: none;
    }
    header .site-info {
        text-align: center;
        float: none;
        width: auto;
    }
}

.slicknav_menu {
    display:none;
}

.slicknav_btn {
    background-color: #ffffff !important;
    border-radius: 0 !important;
    border: 1px solid #005984 !important;
    color: #005984;
    margin: 7px 10px 20px 10px !important;
}

.slicknav_icon-bar {
    background-color: #005984 !important;
}